
.container-fluid{
  position: relative;
}
.container-fluid img{
  width: 100%;
  height: 100%
}

.center{
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

}
.center img{
	width: 25%;
	height: 25%;
}
#bottom{
	margin-top: 100px; 
 	height: 30px;
 	width: 20px;
}
.aboutus{
	text-align: center;
	margin-top: 20px;
	line-height: 2.0;
	font-family: sans-serif;
}
.otherImage{
	margin-top: 40px;
	position: relative;
}
 
.services{
	position: absolute;
	top: 130px;
	left: 15%;
	color: white;
	text-align: center;
	line-height: 2;
}
.headers{
	text-align: center;
	margin-top: 40px;
}
.headers img{
	width: 15%;
	height: 70%;
}
.portfolio{
	text-align: center;
	margin-top: 40px;
	display: inline-block;
}
.portfolio img{
	padding: 0%;
	margin-left: 0px;
}
.below{
	margin-top: 40px;
	position: relative;
}
.contactus{
	position: absolute;
	left: 10%;
	top: 100px;
	color: white;
}
input{
	width: 450px;
	margin-left: 20px;
	opacity: 0.4;

}
textarea{
	width: 980px;
	height: 200px;
	margin-top: 25px;
	opacity: 0.4;
}
.social{
	margin-top: 40px;
}
.social img{
	height: 50px;
	width: 50px;
}
.ending{
	margin-top: 35px;
	text-align: center;
	font-size: 15px;
}
.definations{
	font-size: 14px;
	word-spacing: 2px;
	text-align: center;
}